
/* Fonts */
$font-family-primary: 'DM Sans', sans-serif;
/* Colors */
$color-light-black: rgba(60, 60, 59, 0.2);
$color-black: #37312f;
$color-original-black: #000000;
$color-green: #656a3e;
$color-light-green: #bdbb83;
$color-white: #ffffff;
$color-gray: #ababab;
$color-light-gray: #f8f6f4;
$color-dark-gray: #979797;
$color-faded-grey: #d7d6d5;

